* {
    -webkit-user-drag: none;
    -webkit-user-modify: none;
    -webkit-highlight: none;
    -webkit-touch-callout: none;
    -webkit-user-callout: none;
    -webkit-user-select: none;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    
}
p {
    margin: 0;
    padding: 0;
}
a {
    color:inherit;
    text-decoration: none;
}
a:hover{
    color:inherit;
}
#optionsContainer{
    position: absolute;
    width: 320px;
    height: 100%;
    z-index: 99999; /* Above animations */
}
#optionsMenu{
    position: relative;
    width: 200px;
    height: auto;
    max-height: 500px;
    background-color:rgba(34,34,34,1);
    /*-webkit-backdrop-filter:blur(10px);*/
    z-index: 999;
    left:50%;
    top:50%;
    -webkit-transform:translate(-50%,-65%);
    border-radius: 20px;
    overflow: scroll;
    -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
}
#batteryAnimation{
    position: absolute;
    top:0;
    left:0;
}
.optionsClose{
    position: absolute;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color:#343434;
    text-align: center;
    color:white;
    bottom:0;
}
.optionsButtons div{
    margin-bottom:2px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color:white;
    background-color: rgba(0,0,0,0.5);
}
.optionsButtons div:last-child{
    margin-bottom: 0;
}

.bgSwipe, .container, .screenOverlay {
    position: absolute;
    width: 320px;
    height: 100%;
}
.container, .screenOverlay {
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-clip: padding-box;
}
.detectSwipe {
    position: absolute;
    width: 150px;
    height: 300px;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
}
.menuScreen {
    position: absolute;
    width: 60px;
    height: 265px;
    background-color: rgba(0, 0, 0, 0.3);
    top: 50%;
    -webkit-transform: translate(0, -50%);
    right: 0;
    -webkit-backdrop-filter: blur(5px);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    z-index: 9;
}
.menuScreen div {
    position: relative;
    top: 15px;
    margin-top: -30px;
}
.menuScreen img, .download {
    -webkit-transform: scale(0.6);
    margin-top: 3px;
    margin-left: -10px;
    pointer-events: none;
}
.download {
    margin-left: -15px;
}
.themeList {
    position: absolute;
    width: 130px;
    height: 230px;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%)translateY(-50%)scale(1.6);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-clip: padding-box;
    overflow: hidden;
    display: none;
    z-index: 999;
    border-radius: 5px;
    background-color: black;
}
.themeName, .themeCount {
    position: absolute;
    color: white;
    width: 100%;
    font-size: 5px;
    padding-top: 2px;
}
.themeName {
    top: 0;
    text-align: left;
    padding-left: 3px;
    background-color: rgba(0, 0, 0, 0.7);
}
.themeCount {
    top: 0;
    right: 3px;
    text-align: right;
}
#screenElements div {
    position: absolute;
    color: white;
    font-size: 30px;
    white-space: nowrap;
    z-index: 1;
    width: auto;
    text-align: left;
    display: block;
}
.darkbg {
    position: absolute;
    width: 320px;
    height: 568px;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(20px);
    display: none;
    pointer-events: none;
    z-index: 2;
}
.instruct {
    position: absolute;
    color: white;
    width: 320px;
    bottom: 25px;
    text-align: center;
}
.psmall {
    font-size: 10px;
    opacity: 0.8;
}
.svg {
    opacity: 0;
}
#trash {
    -webkit-transform: scale(0.8);
    position: absolute;
    top: 47px;
    left: 146px;
    z-index: 999;
}

/* View Themes */

#frame {
    top: 0;
    width: 320px;
    height: 568px;
    overflow: scroll;
    position: absolute;
    z-index: 999;
    -webkit-overflow-scrolling: touch;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(15px);
}

/*.screenOverlay{
    z-index: 9999!important;
}*/

/* Animation iFrames */
#backgroundAnimation{
    position: absolute;
    top:0;
    left:0;
    z-index: -2!important;
    pointer-events: none;
}


/*#frame img{
  width: 100px;
  margin-left: 5px;
  margin-top:5px;
  display: inline;
}*/

.themeContainer {
    margin-left: 20px;
    margin-top: 10px;
    background-color: transparent;
    width: 80px;
    height: 160px;
    display: inline-block;
}
.themeimg {
    width: 80px;
    display: inline;
    position: relative;
    -webkit-box-shadow: 0 8px 6px -6px black;
}
.themebadge {
    position: absolute;
    margin-left: 51px;
    margin-top: -1;
    text-align: center;
    width: 30px;
    z-index: 9;
}
#loaderGif {
    position: absolute;
    left: 106px;
    top: 255px;
    z-index: 99999;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 999px;
    display: none;
}
#view:after {
    position: absolute;
    top: 14;
    right: 2px;
    width: 20px;
    height: 10px;
    text-align: center;
    content: attr(title);
    color: white;
    font-size: 8px;
    line-height: 14px;
}
#themeListGif {
    position: absolute;
    top: 10px;
    left: 50px;
    z-index: 2;
    pointer-events: none;
}
.buttons {
    position: relative;
    left: 5px;
    top: 20px;
    width: 310px;
    height: 50px;
}
.pagesCount {
    position: absolute;
    right: 130px;
    top: 4px;
    display: inline;
    font-size: 10px;
    pointer-events: none;
    text-align: center;
    width: 40px;
    height: 12px;
    padding: 5px;
    background-color: white;
    color: #54606e;
    border-radius: 2px;
    white-space: nowrap;
}
.pagesCount:after {
    content: "close";
    position: absolute;
    left: 17px;
    top: 22px;
    font-size: 5px;
    color: white;
    text-transform: uppercase;
}
.nextButton, .prevButton {
    position: absolute;
    width: 30px;
    height: 30px;
    color: #54606e;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    background-color: white;
    border-radius: 99px;
    display: inline;
    text-transform: capitalize;
}
.nextButton {
    right: 60px;
}
.prevButton {
    left: 60px;
}
#canvasRain, #canvasCloud, #canvasStar, #canvas {
    pointer-events: none;
}
#canvasRain, #canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
#canvasCloud {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: 1;
}
#canvasStar {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    z-index: 1;
    /*      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.7)), color-stop(100%,rgba(255,255,255,0))); */
}
#birds {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}
#weatherFRAME {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}
.aniIn {
    display: block;
    opacity: 1;
    -webkit-transition: opacity .4s;
}

#songalbumArt{
    display: block;
    /*background-image: url('images/music/blank.png');*/
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-backface-visibility: hidden;
}

/* Elements in divs */
.customDiv{
    position: absolute;
    padding:20px;
    white-space: nowrap!important;
    color:black!important;
}
.customDiv::after{
    position: absolute;
    top:-15px;
    left:0;
    font-size: 8px;
    content: attr(data-title);

}
#avatarImage{
    background-origin: border-box;
}
.customDiv div{
    position: relative!important;
    width:auto!important;
    top:0!important;
    left:0!important;
    display: inline-block!important;
}