body {
    font-family: 'Karla',  sans-serif;
    overflow-x: hidden;
}

header {
    text-align: center;
    background: none;
    color: #d7dddc;
}

header .intromsg {
    padding-top: 30px;
    padding-bottom: 20px;
}

header img {
    display: block;
    margin: 0 auto 20px;
    max-width: 40%; left: 30%;
    margin-top: 6%;
}

header .repo {
    display: block;
    padding-top:10px;
    font-family: "Fredoka One", sans-serif;
    text-transform: uppercase;
    font-size: 2em;
}

@media (min-width: 768px) {
    header img {
        max-width: 30%; left: 35%;
        margin-top: 6%;
    }
    header .intromsg {
        padding-top: 70px;
        padding-bottom: 50px;crea
