body {
      margin:0;
      padding:0;
      text-shadow:1px 1px 0px rgba(0,0,0,0.2);
      font-weight:100;
      text-transform:uppercase;
      font-family:ag;
      color:#d7dddc;
      letter-spacing:1;
}

@font-face{
      font-family:ag;
      src:url(Stuff/DS-DIGIT.TTF);
}
@font-face{
      font-family:bo;
      src:url(Stuff/DS-DIGIB.TTF);
}

#Clock{
      position:absolute; top:567px; left:30px; width:375px; text-align:left; z-index:10;
      font-size:69px; font-family:bo; letter-spacing:3;
}

#Cal{
      position:absolute; top:593.6px; left:-30px; width:375px; text-align:right; z-index:50;
      font-size:20px;
}

#Weather{
      position:absolute; top:617px; left:-30px; width:375px; text-align:right; z-index:10;
      font-size:20px; 
}


