body {



	margin: 0;



       top: 0;




}



#clock{



       position:absolute; 



       top:336px; 



       left:69px; 



       width:320px; 



       height:480px; 



       text-align: center; 

	
       font-weight:bold;


       font:26px "Helvetica";



       color: #c35817;



       text-shadow: 1px 2px 2px Black;



       z-index: 90;



       display:;




}

#weekday{



	position:absolute; 



	top:342px; 



	left:-40px; 



	width:320px; 



	height:480px; 



	text-align: center; 



	font-weight:bold; 



	font: 16px "Helvetica";



	color:#c04000;



	text-shadow: 1px 2px 2px black;



	z-index:100;



	display:;



}



#date{



       color:#c3442c;



}


#month{



      color:#e2a76f;

}


#year{



     display:none;

}


#cityname{



	position:absolute; top:362px; left:-50px; width:320px; height:480px; text-align:right; z-index:90;



	font-weight:100; 




	opacity:1.0; 




	font-size:14px;



	color:#00aaff;



	text-shadow: 0px 1px 1px black;



	letter-spacing: 0px;



	word-spacing: 0px;



	text-transform: lowercase;



	font-family: Helvetica;



}


#neighborhoodname{



	position:absolute; top:389px; left:22px; width:320px; height:480px; text-align:left; z-index:90;



	font-weight:100; 



	font-size:9px;



	color: #C4C2C2;



	text-shadow: 0px 1px 1px black;



	font-family: Helvetica;



	text-transform: uppercase;


	display:none;




}



#latlong{

      


	position:absolute; top:190px; left:255px; width:320px; height:480px; text-align:left; z-index:100;



	font-weight:100; 



	font-size:9px;



	color: #29b9d3;



	text-shadow: 0px 0px 1px black;



	font-family: Helvetica;


	text-transform: uppercase;

	
	display:none;

}




#weathertext{


	position:absolute; top:315px; left:5px; width:320px; height:480px; text-align:center; z-index:90;



	font-weight:100; 



	opacity:1.0; 



	font-size:16px;



	color:rgba(60, 60, 60, 1);



	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);




	font-family: Helvetica;



	text-transform: lowercase;

    
	display:;


}



#highlowtemp{



	position:absolute; top:190px; left:10px; width:320px; height:480px; text-align:left; z-index:100;



	font-weight:100; 



	font-size:9px;



	color: #29b9d3;



	text-shadow: 0px 0px 1px black;



	font-family: Helvetica;


	text-transform: uppercase;

	
	display:none;

}



#temp{



	position:absolute; top:362px; left:60px; width:320px; height:480px; text-align:left; z-index:90;



	font-weight:100; 



	font-size:14px; 



	opacity:1.0; 



	color: #00aaff;



	text-shadow: 0px 1px 1px black;



	font-family: Helvetica;

	
	text-transform:lowercase;

}



#weathericon{

	 display:;

	position:absolute; top:90px; left:68px; z-index:-88;



}




